<div class="selectanimal">
    <h2>Para iniciar con la dieta, seleccione alguna de los siguientes opciones</h2>
    <div class="animal-lech">
        <a href="/recipes/add/ganadolechero">Ganado Lechero</a>
    </div>
    <div class="animal-gan">
        <a href="/recipes/add/ganadoengorda">Ganado de Engorda</a> 
    </div>
</div>