<div class="jumbotron mt-4">
    <h1 class="display-4">Auth and Notes App</h1>
    <p class="lead">lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores excepturi nesciunt cupiditate tempore eligendi at!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit eveniet odit necessitatibus optio dicta officiis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores totam reiciendis rem, qui veritatis excepturi!</p>
    <a href="#" class="btn badge bg-secondary">link</a>
</div>
