<form action="/users/changePassword/{{user._id}}?_method=PUT" method="PUT">
    <legend>Update password</legend>
    <div class="form-group">
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="Password" name="password">
            <label for="floatingInput">Enter your new password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="confirm_password">
            <label for="floatingPassword">Confirm Password</label>
        </div>
        <p><small>Remember that the password must be <em>at least 5 characters long</em>.</small></p>
        <div class="d-grid gap-1">
            <button class="btn btn-lg btn-primary">Change password</button>
        </div>
    </div>
</form>