<body>
  <div class="sr-root mb-0">
    <div>
      <h1 class="mb-4">Choose a collaboration plan</h1>
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <form action="/create-checkout-session/{{id}}" method="POST">
              <input type="hidden" id="basicPrice" name="priceId" value="1000" />
              <div class="name">Starter</div>
              <div class="price">$12</div>
              <div class="duration">per month</div>
              <button id="basic-plan-btn">Select</button>
            </form>
        </div>
      </div>
      <p><small>Remember <em>The email in the payment details must be the same as the one you register with</em>.</small></p>
    </div>
    <div id="error-message" class="error-message"></div>
</body>